[submodule "deps/apron"]
	path = deps/apron
	url = git@github.com:rboudrouss/apron.git
[submodule "deps/mopsa-analyzer"]
	path = deps/mopsa-analyzer
	url = git@gitlab.com:rboudrouss/mopsa-analyzer-ocaml-4.12.git
[submodule "deps/mlgmpidl"]
	path = deps/mlgmpidl
	url = git@github.com:nberth/mlgmpidl.git
[submodule "deps/camlidl"]
	path = deps/camlidl
	url = git@github.com:xavierleroy/camlidl.git
[submodule "deps/llvm-project-wasm"]
	path = deps/llvm-project-wasm
	url = git@github.com:rboudrouss/llvm-project-wasm.git
[submodule "deps/ocaml-wasm"]
	path = deps/ocaml-wasm
	url = git@github.com:rboudrouss/ocaml.git
[submodule "deps/Zarith"]
	path = deps/Zarith
	url = git@github.com:ocaml/Zarith.git
